.particleNetworkAnimation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: #171717;
}

.particleNetworkAnimation::before {
  z-index: -2;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("assets/images/8bitgifbg.gif");
  background-position: bottom center;
  background-size: cover;
  opacity: 0.5;
}

.glow {
  z-index: -1;
  position: fixed;
  top: 50%;
  left: 50%;
  background-image: radial-gradient(circle closest-side, rgba(255, 255, 255, 0.025), transparent);
}

.glow-1 {
  width: 150vw;
  height: 150vh;
  margin-top: -75vh;
  margin-left: -75vw;
  animation: glow-1-move 25s linear infinite both;
}
@keyframes glow-1-move {
  from {
    transform: translate(-100%, 100%);
  }
  to {
    transform: translate(100%, -100%);
  }
}
.glow-2 {
  width: 100vw;
  height: 100vh;
  margin-top: -50vh;
  margin-left: -50vw;
  animation: glow-2-move 25s linear 25s / 3 infinite both;
}
@keyframes glow-2-move {
  from {
    transform: translate(-100%, 0%);
  }
  to {
    transform: translate(100%, 100%);
  }
}
.glow-3 {
  width: 120vw;
  height: 120vh;
  margin-top: -60vh;
  margin-left: -60vw;
  animation: glow-3-move 25s linear 25s / 3 * 2 infinite both;
}
@keyframes glow-3-move {
  from {
    transform: translate(100%, 100%);
  }
  to {
    transform: translate(0%, -100%);
  }
}

.megaMan {
  position: fixed;
  bottom: 0;
  right: -200px;
  width: 120px;
  animation: megaManRun 7s infinite linear;
  animation-delay: 3s;

  @media (max-width: 700px) {
    width: 70px;
  }
}

.megaMoon {
  position: fixed;
  bottom: 0;
  right: -100px;
  width: 120px;
  animation: megaMoonRoll 7s infinite linear;
  animation-delay: 2s;

  @media (max-width: 700px) {
    width: 70px;
  }
}

.navTitle {
  color: #23a4d7;
}

@keyframes megaMoonRoll {
  0% {
    right: -100px;
    transform: rotate(360deg);
  }
  100% {
    right: 100%;
    transform: rotate(0deg);
  }
}

@keyframes megaManRun {
  0% {
    right: -200px;
  }
  100% {
    right: 100%;
  }
}

@media (max-width: 700px) {
  .navTitle {
    font-size: 10px;
  }

  .heroHeader {
    font-size: 23px !important;
  }

  .heroDesc {
    font-size: 13px !important;
    display: none;
  }

  .tokenomicsHeader {
    font-size: 19px !important;
  }

  .muteButton {
    display: none;
  }
}
